<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="" class="msg" id="msg">
        <label for="msg">Message:</label>
        <input type="text" id="msginput" name="msg">
        <button type="submit" id="sdmsg">send message</button>
    </form>
    <h1>chatApp</h1>
<div class="msgs" id="msgs"></div>    
<script src="chatapp.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>